<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    style(type="text/css").
      body {
        background-color: #D8FFE4;
      }
      .index.display {
        display: block !important;
      }
    script.
      window.onload = function() {
        document.getElementById("index").classList.add("display")
      }
    title Long Island Lauren
  body
    .loading
    .index#index(style="display:none")
      .index-topImage
        .index-title
          p Long
            br
            | Island
            br
            | Lauren
        .scroll-arrow
      .index-nextLive
        .index-nextLive_title 
          h1 NEXT LIVE
        .index-nextLive_body
          .index-nextLive_body_date
            h2 11/28 (水)
          .index-nextLive_body_title
            p  3ヶ月連動イベント「U3」～SECOND～ 
            a(href="https://ruido.org/rizm/") @青山RizM
          .index-nextLive_body_acts
            p Sunday is Wednesday／Paranoid Psychedelica／ハナシテ／
              br 
              | Long Island Lauren／胸懐フェノメノン／星空水族館／COMPUTERKIDS
          .index-nextLive_body_info
            .index-nextLive_body_info_head
              p OPEN / START:
            .index-nextLive_body_info_body
              p 17:30 / 18:00
          .index-nextLive_body_info
            .index-nextLive_body_info_head
              p TICKET:
            .index-nextLive_body_info_body
              p 前売￥2,000 / 当日￥2,500 (ドリンク代別)
      .index-img--1
      .index-works
        .index-works_title 
          h1 Works
        .index-works_body
          iframe(src='https://www.youtube.com/embed/KspATZEX2v8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
      .index-members
        .index-members_title 
          h1 Members
        .index-members_item--left
          .background-square
            .member-img.yagi
          .member-part
            p Gt.Vo.
          .member-name
            p Ken Mukai
        .index-members_item--right
          .background-square
            .member-img.nagao
          .member-name
            p Yuya Nagao
          .member-part
            p Gt.
        .index-members_item--left
          .background-square
            .member-img.ishida
          .member-part
            p Ba.
          .member-name
            p Shuichi Ishida
        .index-members_item--right
          .background-square
            .member-img.ishikawa
          .member-name
            p Sachiho Ishikawa
          .member-part
            p Dr.
      .index-img--2
      .index-contact
        .index-contact_title 
          h1 Contact
        .index-contact_body
          a(href="https://twitter.com/LILRN_jp" target="_blank")
            .twitter
              .twitter-logo
              p Twitter
      .index-footer
        p Copyright © 2018 Long Island Lauren
        p All Rights Reserved.
        small Website created by Yu Takada