<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description" content="4ピースロックバンド 'Long Island Lauren'の公式webサイトです。")
    style(type="text/css").
      body, html {
        background-color: #D8FFE4;
      }
      .index.display {
        display: block !important;
      }
      #loading-msg {
        position: absolute;
        width: 100vw;
        height: 80vh;
        line-height: 100vh;
        text-align: center; 
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      #loading-msg p {
        color: #6A758F;
        font-size: 1.4rem;
      }
      #loading-msg.hide {
        display: none;
      }
    script.
      window.onload = function() {
        document.getElementById("loading-msg").classList.add("hide")
        document.getElementById("index").classList.add("display")
      }
  body
    .loading
      p#loading-msg(style="font-family: serif;") Loading...
    .index#index(style="display:none")
      .index-topImage
        .index-title
          p Long
            br
            | Island
            br
            | Lauren
        .scroll-arrow
      //- .index-nextLive
      //-   .index-nextLive_title 
      //-     h1 NEXT LIVE
      //-   .index-nextLive_body
      //-     p(style="padding-bottom: 8px") CDリリース記念レコ発！
      //-     .index-nextLive_body_date
      //-       h2 2/3 (Sun)
      //-     .index-nextLive_body_title
      //-       p Long Island Lauren Presents "Terminal １"
      //-       a(href="http://www.reg-r2.com/") @下北沢Reg
      //-     .index-nextLive_body_acts
      //-       p w/
      //-       p Landmark　
      //-         a(href="https://twitter.com/Landmark0806" target="_blank") (@Landmark0806)
      //-       p Drownyou　
      //-         a(href="https://twitter.com/_DROWNYOU" target="_blank") (@_DROWNYOU)
      //-       p Sheepdogs in the Hollow　
      //-         a(href="https://twitter.com/Sheepdogs_info" target="_blank") (@Sheepdogs_info)
      //-     .index-nextLive_body_info
      //-       p(style="text-align: center; width: 100%") 詳細後日公開！
          //-   .index-nextLive_body_info_head
          //-     p OPEN / START:
          //-   .index-nextLive_body_info_body
          //-     p 17:30 / 18:00
          //- .index-nextLive_body_info
          //-   .index-nextLive_body_info_head
          //-     p TICKET:
          //-   .index-nextLive_body_info_body
          //-     p 前売￥2,000 / 当日￥2,500 (ドリンク代別)
      .index-img--1
      .index-works
        .index-works_title 
          h1 Works
        .index-works_body
          iframe(src='https://www.youtube.com/embed/KspATZEX2v8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
      .index-img--2
      .index-members
        .index-members_title 
          h1 Members
        .index-members_item--left
          .background-square
            .member-img.yagi
          .member-part
            p Gt.Vo.
          .member-name
            p Ken Mukai
        .index-members_item--right
          .background-square
            .member-img.nagao
          .member-name
            p Yuya Nagao
          .member-part
            p Gt.
        .index-members_item--left
          .background-square
            .member-img.ishida
          .member-part
            p Ba.
          .member-name
            p Shuichi Ishida
        .index-members_item--right
          .background-square
            .member-img.ishikawa
          .member-name
            p Sachiho Ishikawa
          .member-part
            p Dr.
      .index-img--3
      .index-contact
        .index-contact_title 
          h1 Contact
        .index-contact_body
          a(href="https://twitter.com/LILRN_jp" target="_blank")
            .twitter
              .twitter-logo
              p Twitter
      .index-footer
        p Copyright © 2018 Long Island Lauren
        p All Rights Reserved.
        small Website created by Yu Takada